*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
    /* добавим плавность переходов для всех элементов страницы*/
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
    outline: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
    margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display';
    font-weight: normal;
    letter-spacing: 1px;
    color: white;
}

body {
    font-family: 'Open Sans', arial, sans-serif; /*<-----------------------------*/
    font-size: 14px;
    line-height: 1;
    color: #373737;
    background-image: url("../pictures/backg.jpg");
    background-attachment: fixed;
    background-size: 100%;

}

/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
header:after, .container:after, footer:after, .widget-posts-list li:after, #subscribe:after {
    content: "";
    display: table;
    clear: both;
}

/* стилевой класс, который управляет шириной контейнера сетки*/
.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1366px;
    padding: 1% 1%;

}

/*----------------------------------------------------------------------*/
header {
    width: 100%;
    background: rgba(121, 121, 121, 0.5);;
    margin-bottom: 30px;
    position: relative;
    margin-top: +0.625em;

}

#locale {
    float: right;
}

#admin {
    float: left;
    /* position: absolute;
     top: 75%;*/
}

#admin input[type="submit"] {
    cursor: pointer;
    background: none;
    border: none;
}

#admin input[type="submit"]:hover {
    color: #ff0000;
    transition: all 0.1s ease;
}

#locale input[type="submit"] {
    line-height: 130%;
    cursor: pointer;
    background: none;
    border: 1px solid rgba(255, 255, 255, 0.6);
    margin-top: 2px;
}

/* логотип */
.logo {
    float: left;
    font-size: 200%;
    font-weight: 1000;
    letter-spacing: 20px;
    margin-top: +0.625em;
    text-transform: uppercase;
}

.logo span {
    color: #ffffff;
    text-align: center;
}

/* меню */
#menu {
    float: right;
    margin-right: 5%;
    margin-top: +0.625em;
    align-items: center;
    padding: 0.75rem 1rem;
}

#menu li {
    display: inline-block;
    margin-right: 30px;

}
#menu a, input[type="submit"] {
    color: #f3d201;
    text-transform: uppercase;
    font-size: 100%;
    letter-spacing: 1px;
    font-weight: 600;
    display: block;
    /* line-height: 40px;*/
}

#menu input[type="submit"] {
    cursor: pointer;
    border: none;
    background: none;
}

#menu a:hover, #menu input[type="submit"]:hover, #locale input[type="submit"]:hover, .footer-col a:hover {
    color: #f77a52;
    transition: all 0.1s ease;;
}

#menu li:last-child {
    margin-right: 0;
}

/*----------------------------------------------------------------------*/
/* правый контейнер */
.posts-list {
    margin-bottom: 30px;
    width: 75%;
    float: right;
    margin-right: 50px;
}

/* блок для статьи */
.post {
    margin-bottom: 35px;
}

.post-content p {
    line-height: 1.5;
    padding-bottom: 1em;
    color: white;
}

.post-image {
    margin-bottom: 30px;
}

.category {
    margin-bottom: 15px;
}

.category a {
    color: #2e86a9;
    text-transform: uppercase;
}

.post-title {
    margin-bottom: 12px;
    font-size: 200%;
    font-weight: 600;
}

/* блок с кнопкой "продолжить чтение" и кнопками социальных сетей */
.post-footer {
    border-top: 1px solid #EBEBE3;
    border-bottom: 1px solid #EBEBE3;
    position: relative;
    margin-top: 15px;
}

.more-link, .more-link_a, .more-link_c, .more-link_g {
    position: relative;
    display: inline-block;
    font-size: 110%;
    text-transform: uppercase;
    font-weight: 1000;
    color: white;
    text-align: center;
    line-height: 350%;
    width: 100%;
    letter-spacing: 0.2em;
}
.more-link {
    background: rgba(243, 210, 1, 0.3);
}
.more-link:hover {
    background: rgba(243, 210, 1, 0.6);
    transition: all 0.2s ease;
}

.more-link_a {
    background: rgba(46, 134, 169, 0.4);
}
.more-link_a:hover {
    background: rgb(46, 134, 169, 0.7);
    transition: all 0.2s ease;
}

.more-link_c {
    background: rgba(247, 122, 82, 0.4);
}
.more-link_c:hover {
    background: rgba(247, 122, 82, 0.7);
    transition: all 0.2s ease;
}

.more-link_g {
    background: rgba(93, 247, 82, 0.4);
}
.more-link_g:hover {
    background: rgba(93, 247, 82, 0.7);
    transition: all 0.2s ease;
}

.post-social {
    position: absolute;
    left: auto;
    top: 100%;
    right: 0;
    text-align: right;
    transform: translateY(-50%);
    padding: 0;
    font-size: 12px;
}

.post-social a {
    display: inline-block;
    margin-left: 8px;
    color: #F8B763;
    width: 25px;
    height: 25px;
    line-height: 23px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid;
}


/*----------------------------------------------------------------------*/
/* левый контейнер */
aside {
    width: auto;
    float: left;
}

/* блок для виджетов */
.widget {
    padding: 20px 15px;
    background: rgba(121, 121, 121, 0.5);
    font-size: 13px;
    margin-bottom: 30px;
}

.widget-title {
    font-size: 150%;
    font-weight: 500;
    padding: 5%;
    margin-bottom: 20px;
    text-align: center;
    border: 3px solid rgba(243, 210, 1, 0.6);
}

.widget-category-list li {
    border-bottom: 1px solid #EBEBE3;
    padding: 10px 0;
    color: #c6c6c6;
    font-style: italic;
}

.widget-category-list li:last-child {
    border-bottom: none;
}

.widget-category-list li a {
    color: #626262;
    margin-right: 6px;
    font-style: normal;
}

.widget-category-list li a:before {
    content: "\f105";
    display: inline-block;
    font-family: 'FontAwesome';
    margin-right: 10px;
    color: #c6c6c6;
}

.widget-posts-list li {
    border-top: 1px solid #ffffff;
    padding: 5% 0;
}

.widget-posts-list li:nth-child(1) {
    border-top: none;
}

.post-image-small {
    cursor: pointer;
}

.post-image-small:hover{
    box-shadow: 0 0 10px rgb(243, 210, 1);
    transition: all 0.2s ease;
}

.post-image-small:active{
    box-shadow: 0 0 10px rgb(247, 122, 82);
}

.widget-post-title {
   margin-top: 5%;
   font-weight: 300;;
}

/* форма подписки */
#subscribe {
    position: relative;
    width: 100%;
    padding: 15px 0;
}

#subscribe input {
    width: 100%;
    display: block;
    float: left;
    border: 2px solid #EBEBE3;
    padding: 0 0 0 10px;
    height: 40px;
    position: relative;
    outline: none;
    color: #9E9C9C;
    font-style: italic;
}

#subscribe button {
    padding: 0 15px;
    background: transparent;
    height: 40px;
    border: none;
    position: absolute;
    right: 0;
    color: #EF5A42;
    cursor: pointer;
    font-size: 18px;
}

#subscribe input:focus + button {
    background: #EF5A42;
    color: white;
}


/*----------------------------------------------------------------------*/
footer {
    padding: 30px 0;
    background: #3C3D41;
    color: white;
}

.footer-col {
    width: 33.3333333333%;
    float: left;
}

.footer-col a {
    color: white;;
}

.footer-col:last-child {
    text-align: right;
}

.social-bar-wrap {
    text-align: center;
}

.social-bar-wrap a {
    padding: 0 7px;
    font-size: 18px;
}