.decor {
    position: relative;
    margin: auto;
    background: rgba(121, 121, 121, 0.5);
}

.form-row {
    /*padding: 1%;*/
}

/*дизайн input*/
.form-row input {
    border: none;
    display: block;
    width: 100%;
    line-height: 500%;
    background: none;
    border-bottom: 2px solid #4a90e2;
    transition: all 0.2s ease;
    margin-top: 2%;
}

.form-row input[type="date"] {
    text-align: right;
}

.form-row input[type="radio"] {
    margin-top: 1%;
}

.form-row input[type="text"], .form-row input[type="password"],
.form-row input[type="email"], .form-row input[type="date"],
.form-row input[type="radio"] {
    color: white;
    padding-left: 10%;
    font-size: 130%;
}

/*дизайн submit*/
.form-row input[type="submit"] {
    color: white;
}

/*дизайн reset*/
.form-row input[type="reset"] {
    margin-top: 30px;
    background: #9fa2a2;
    color: white;
    font-size: 14px;
}

/*границы reset и submit*/
.form-row input[type="submit"], .form-row input[type="reset"] {
    border: none;
}

/*анимация submit*/
.form-row input[type="submit"]:focus,
.form-row input[type="submit"]:hover {
    background-color: #47CAFF; /*RGBA Цвет фона и значение прозрачности.*/
}

/*анимация reset*/
.form-row input[type="reset"]:focus,
.form-row input[type="reset"]:hover {
    background-color: #b9bcbc; /*RGBA Цвет фона и значение прозрачности.*/
}

/*анимация submit при нажатии*/
.form-row input[type="submit"]:focus,
.form-row input[type="reset"]:focus {
    outline: 0;
    background-color: #f77a52;
    transition: all 0.1s ease;
}

.form-row h1 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 36px;
    color: #ffffff;
}

.form-row h2 {
    margin: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 1000;
    font-size: 150%;
    color: #ffffff;
}

.form-row h3 {
    margin-top: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #ffffff;
}

.form-row h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #ffffff;
    margin-top: 7%;

}

.h4class {
    margin-top: -20px;
    margin-left: 20px;
    color: #343636;
}

.form-row h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
    margin-top: 7%;
    margin-left: 10%;
}

.blockH{
    display:inline-block;
}

/*меняет цвет нижней границы*/
.form-row input:focus {
    outline: 0;
    border-bottom: 2px solid #F77A52;
}

/*меняем плавающую строку при нажатии*/
.form-row label {
    position: absolute;
    left: 10%;
    color: #9d959d;
    font-size: 150%;
    font-weight: 600;
    transform: translateY(-200%);
    transition: all 0.2s ease;
}


/*анимация плавающей строки, остается сверху, если не пустая*/
.form-row input:focus + label, .form-row input[type="text"]:not(:placeholder-shown) + label,
.form-row input[type="email"]:not(:placeholder-shown) + label, .form-row input[type="date"]:not(:empty) + label,
.form-row input[type="password"]:not(:placeholder-shown) + label {
    transform: translateY(-650%);
    font-size: 100%;
    font-weight: 600;
    outline: 0;
    border-color: #F77A52;
    color: #F77A52;
}

.form-row input[type="text"]:focus, .form-row input[type="text"]:not(:placeholder-shown) {
    border-color: #F77A52;
}

.form-row input[type="radio"]:focus + label, .form-row input[type="radio"]:not(:empty) + label {
    transform: translateY(-200%);
    font-size: 150%;
    font-weight: 600;
    border-color: #F77A52;
    color: #F77A52;
}

/* для элемента input c type="radio" */
.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked) + label:hover::before {
    border-color: #b3d7ff;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active + label::before {
    background-color: #4a90e2;
    border-color: rgba(0, 123, 255, 0.25);
}

/* стили для радиокнопки, находящейся в фокусе */
.custom-radio:focus + label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio:focus:not(:checked) + label::before {
    border-color: #b3d7ff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked + label::before {
    border-color: #4a90e2;
    background-color: #4a90e2;
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio:disabled + label::before {
    background-color: #e9ecef;
}


.table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(176, 176, 176);
}

.table td, .table th {
    padding: 5px;
    border: 1px solid #ddd;
    color: #000000;
}


.table tr:nth-child(even) {
    background-color: #c5c5c5;
}

.table tr:hover {
    background-color: rgba(243, 210, 1, 0.4);
}

.table th {
    text-align: center;
    background-color: #2e86a9;
    color: white;
    cursor: pointer;
}

.table td {
    text-align: left;
}

.table input[type="submit"] {
    background: none;
    border: none;
    cursor: pointer;
    color: #2e86a9;
}

.table input[type="submit"]:hover {
    color: #f77a52;
}


/*------------------IMG-------------------*/
.triangle-caption {
    display: inline-block;
    position: relative;;
    margin: 0 0 3% 5%;
    overflow: hidden;
    width: 350px;
    cursor: pointer;
}

.triangle-caption img {
    max-width: 100%;
    height: auto;
    display: block;
}

.caption {
    text-align: right;
    position: absolute;
    z-index: 2;
    bottom: 0;
    right: 0;
    color: white;
    line-height: 1;
    padding: 0 13px 13px 0;
}

.triangle-caption:after {
    background: rgba(154, 135, 0, 0.7);
    content: "";
    position: absolute;
    width: 430px;
    height: 240px;
    bottom: -200px;
    transform: rotate(-11deg);
}

.caption p {
    font-weight: 1000;
}


.day {
    position: relative;
    top: -10px;
    font-family: 'Rozha One', serif;
}

.year {
    font-size: 1.5em;
    font-family: 'Rozha One', serif;
}

.triangle-caption:hover {
    box-shadow: 0 0 10px rgb(243, 210, 1);
    transition: all 0.2s ease;
}

.triangle-caption:active {
    box-shadow: 0 0 10px rgb(247, 122, 82);
}